Tools
- [Copulas](https://sdv.dev/Copulas/index.html)
- Numpy

In [ ]:
%pip install numpy pandas matplotlib psycopg2

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import io

Template to generate data using normal distribution

In [3]:
mean = 0          # Mean (μ)
std_dev = 1       # Standard deviation (σ)
sample_size = 1000

data = np.random.normal(loc=mean, scale=std_dev, size=sample_size)

print(data[:10])

[125.13896329  83.33549345  88.45064363  91.34173322 112.79441006
  89.05217455  73.71674475  62.18200157  82.53847126  93.27803989]

In [14]:
mean = 100
std_dev = 15
num_samples = 1000
time = pd.date_range(start='2025-01-01', periods=num_samples, freq='D')
time = time.strftime('%Y-%m-%d %H:%M:%S')

synthetic_glucose = np.random.normal(loc=mean, scale=std_dev, size=num_samples)
df = pd.DataFrame({'subject_id': 1, 'data_type': 1,'datetime': time, 'reading': synthetic_glucose})

# plt.figure(figsize=(10, 6))
# plt.plot(df['Date'], df['Glucose_Level'], label='Glucose Levels')
# plt.title('Glucose Level Time Series')
# plt.xlabel('Date')
# plt.ylabel('Glucose Level (mg/dL)')
# plt.grid(True)
# plt.xticks(rotation=45)
# plt.legend()
# plt.show()

print(df.head(10))

   subject_id             datetime     reading
0           1  2025-01-01 00:00:00  101.709086
1           1  2025-01-02 00:00:00   83.901030
2           1  2025-01-03 00:00:00   96.980613
3           1  2025-01-04 00:00:00  103.326948
4           1  2025-01-05 00:00:00   94.593801
5           1  2025-01-06 00:00:00  109.057325
6           1  2025-01-07 00:00:00  100.794202
7           1  2025-01-08 00:00:00   89.871521
8           1  2025-01-09 00:00:00   88.848135
9           1  2025-01-10 00:00:00   97.995166

Data points
- Glucose:  90 mg/dL (µ)  15 mg/dL (σ)
- Daily Step Counts:  8000 steps/day (µ)  3000 steps/day (σ)

In [ ]:
CREATE TABLE IF NOT EXISTS  readings (
    id SERIAL PRIMARY KEY,
    subject_id INT,
    data_type INT,
    datetime TIMESTAMP,
    reading DOUBLE PRECISION,
);

In [ ]:
import psycopg2
from psycopg2 import sql

conn = psycopg2.connect("dbname=test user=postgres password=secret")
cur = conn.cursor()

# Data to insert
data = [
    (1, 'Alice', 'Manager'),
    (2, 'Bob', 'Developer'),
    (3, 'Charlie', 'Designer')
]

# Using executemany for bulk insert
cur.executemany("INSERT INTO employees (id, name, position) VALUES (%s, %s, %s)", data)

conn.commit()
cur.close()
conn.close()


db_params = {
    'dbname': 'your_database',
    'user': 'your_user',
    'password': 'your_password',
    'host': 'localhost',
    'port': 5432,         
}


try:
    conn = psycopg2.connect(**db_params)
    cursor = conn.cursor()

    create_table_query = '''
    CREATE TABLE IF NOT EXISTS employees (
        id SERIAL PRIMARY KEY,
        name VARCHAR(100),
        position VARCHAR(100),
        hire_date DATE
    );
    '''
    
    cursor.execute(create_table_query)
    conn.commit()

except Exception as e:
    print(f"An error occurred: {e}")

finally:
    if cursor:
        cursor.close()
    if conn:
        conn.close()

In [ ]:
buffer = io.StringIO()
df.to_csv(buffer, index=False, header=False)
buffer.seek(0)
cursor.copy_from(file=buffer, table=table_name, sep=",", null="")

In [ ]:
docker run -it --rm --name init-script -v "$PWD":/usr/src/app -w /usr/src/app python:3.11 python script_to_run.py
docker run -it --rm --name init-script --network superset_default -v "$PWD":/usr/src/app -w /usr/src/app python:3.11 /bin/bash -c "pip install numpy pandas psycopg2 && python myscript.py"